default_language_version:
  python: "3.11"
repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-toml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.1.8"
    hooks:
      - id: ruff
        args: ["--fix"]
        exclude: "docs"
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        exclude: "pdm.lock"
  - repo: https://github.com/psf/black
    rev: 23.12.0
    hooks:
      - id: black
        args: [--config=./pyproject.toml]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.7.1"
    hooks:
      - id: mypy
        exclude: "docs"
        additional_dependencies:
          [
            saq,
            pytest,
            pytest-asyncio,
            pytest-lazy-fixture,
            time-machine,
            httpx,
            pytest-mock,
            pytest-timeout,
            msgspec,
            types-click,
            types-redis,
            "litestar[cli]",
          ]
  - repo: https://github.com/sphinx-contrib/sphinx-lint
    rev: "v0.9.1"
    hooks:
      - id: sphinx-lint
